name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
  MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
    
jobs:
    unit-testing: 
        name: Unit Testing
        services:
          mongo-db:
            image: siddharth67/mongo-db:non-prod
            ports:
              - 27017:27017
        env:
          MONGO_URI: 'mongodb://localhost:27017/superData'
          MONGO_USERNAME: non-prod-user
          MONGO_PASSWORD: non-prod-password
        strategy:
          matrix:
            os: [ubuntu-22.04, ubuntu-latest]
        runs-on: ${{matrix.os}}
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v4
          with:
            node-version: 20

        - uses: actions/cache@v4
          name: Cache NPM dependencies
          id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
          with:
            path: ~/.npm
            key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
    
        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          id: nodejs-unit-test-steps
          run: npm test
          
        - name: Archive Test Result
          if: always() && (steps.nodejs-unit-test-steps.outcome == 'failure' || steps.nodejs-unit-test-steps.outcome == 'succuss' )
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result
            path: test-results.xml
    code-coverage:
        name: Code Coverage
        container:
          image: node:20
        services:
          mongo-db:
            image: siddharth67/mongo-db:non-prod
            options: 
              --name mongo
            # ports:
            #   - 27017:27017
        runs-on: ubuntu-latest
        env:
          MONGO_URI: 'mongodb://mongo:27017/superData'
          MONGO_USERNAME: non-prod-user
          MONGO_PASSWORD: non-prod-password
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        # - name: Setup NodeJS Version
        #   uses: actions/setup-node@v4
        #   with:
        #     node-version: 20
        
        
        - uses: actions/cache@v4
          id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
          with:
            path: ~/.npm
            key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          
        - name: Install Dependencies
          run: npm install
    
        - name: Check Code Coverage
          continue-on-error: true
          run: npm run coverage
          
        - name: Archive Coverage Result
          uses: actions/upload-artifact@v4
          with:
            name: Coverage-Result
            path: coverage
            retention-days: 5
    Containerization:
        runs-on: ubuntu-latest
        permissions: 
          packages: write
          contents: read
        needs: [code-coverage, unit-testing]
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Login to GitHub Container Registry
            uses: docker/login-action@v3
            with:
              registry: ghcr.io
              username: ahmedgamal285
              password: ${{ secrets.GITHUB_TOKEN }}
          
          - name: Build and push
            uses: docker/build-push-action@v6
            with:
              context: .
              push: true
              tags: ghcr.io/ahmedgamal285/solar-system:${{ github.sha }}       
    deploy-dev:
          name: Deploying to Development 
          runs-on: ubuntu-latest
          needs: [Containerization]
          steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
            
            - name: Kubectl tool installer
              uses: Azure/setup-kubectl@v4.0.1
            
            - name: Kind Cluster
              uses: helm/kind-action@v1.12.0
            
            - name: Fetch Kubernetes Cluster Details
              run: |
                kubectl version
                echo ----------------------------------------------------
                kubectl get nodes
        
            - name: Install ingress-nginx via manifest
              run: |
                kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/cloud/deploy.yaml

            - name: Save Nginx Controller IP as Github Variable
              run: |
                kubectl get svc -n ingress-nginx
                echo "INGRESS_IP=$(kubectl -n ingress-nginx get services ingress-nginx-controller -o jsonpath="{.status.loadBalancer.ingress[0].ip}")" >> "$GITHUB_ENV"
            
            - name: Replace Token in Manifest files
              uses: cschleiden/replace-tokens@v1.3
              with:
                tokenPrefix: '_{_'
                tokenSuffix: '_}_'
                files: '["kubernetes/development/*.yaml"]'
              env:
                NAMESPACE: ${{ vars.NAMESPACE }}
                REPLICAS: ${{ vars.REPLICAS }}
                IMAGE: ghcr.io/ahmedgamal285/solar-system:${{ github.sha }}
                INGRESS_IP: ${{ env.INGRESS_IP }}
            
            - name: Check files
              run: |
                cat kubernetes/development/*.yaml
                
            - name: Create namespace if not exists
              run: |
                kubectl create namespace ${{ vars.NAMESPACE }} || true

            - name: Create mongo-db-creds secret
              run: |
                kubectl create secret generic mongo-db-creds \
                  -n ${{ vars.NAMESPACE }} \
                  --from-literal=MONGO_URI="${{ env.MONGO_URI }}" \
                  --from-literal=MONGO_USERNAME="${{ env.MONGO_USERNAME }}" \
                  --from-literal=MONGO_PASSWORD="${{ env.MONGO_PASSWORD }}" \
                  --save-config --dry-run=client -o yaml | kubectl apply -f -
            
            - name: Deploy to Dev Env.
              run: |
                kubectl apply -f kubernetes/development
                

